services:
  minio:
    image: minio/minio:RELEASE.2023-12-23T07-19-11Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=minio123
    command: server /data --address :9000 --console-address :9001
    volumes:
      - ./mnt/minio/data:/data

  mc:
    image: minio/mc:RELEASE.2023-12-23T08-47-21Z
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      mc alias set myminio http://minio:9000 root minio123;
      "
